# Application
APP_NAME=Atomic
APP_KEY=
APP_UUID=
APP_ENCRYPTION_KEY=
DOMAIN=https://example.com/
TZ=Europe/Kyiv
THEME=default

# Locale settings
ENCODING=UTF-8
LANGUAGE=en
FALLBACK=en
I18N_LANGUAGES=en,ru
I18N_DEFAULT=en
I18N_URL_MODE=prefix
I18N_TTL=0
I18N_COOKIE=lang
I18N_SESSION=lang

# Database settings
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=atomic
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4              #optional
DB_COLLATION=utf8mb4_general_ci #optional

# Mail settings
MAIL_DRIVER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=Atomic

# Telegram Bot settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_LOG_LEVEL=error

# Cache settings
CACHE_DRIVER=folder
CACHE_PATH=storage/framework/cache/
CACHE_PORT=
CACHE_SERVER=localhost
CACHE_PASSWORD=
CACHE_LOGIN=
CACHE_PREFIX=atomic_ #optional

# Session & Cookie settings
SESSION_DRIVER=file
SESSION_LIFETIME=259200
SESSION_COOKIE=Atomic_Session
SESSION_KILL_ON_SUSPECT=true

COOKIE_EXPIRE=259200
COOKIE_PATH=/
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_HTTPONLY=true
COOKIE_SAMESITE=Lax

# CORS settings
CORS_HEADERS=Content-Type,Authorization
CORS_ORIGIN=*
CORS_CREDENTIALS=true
CORS_EXPOSE=Authorization
CORS_TTL=86400

# Logging settings
LOG_DEFAULT_CHANNEL=atomic
LOG_ATOMIC_DRIVER=file
LOG_ATOMIC_PATH=atomic.log
LOG_ATOMIC_LEVEL=debug
LOG_ERROR_DRIVER=file
LOG_ERROR_PATH=error.log
LOG_ERROR_LEVEL=error
LOG_AUTH_DRIVER=file
LOG_AUTH_PATH=auth.log
LOG_AUTH_LEVEL=info
LOG_QUEUE_WORKER_DRIVER=file
LOG_QUEUE_WORKER_PATH=queue_worker.log
LOG_QUEUE_WORKER_LEVEL=debug
LOG_QUEUE_MONITOR_DRIVER=file
LOG_QUEUE_MONITOR_PATH=queue_monitor.log
LOG_QUEUE_MONITOR_LEVEL=info

# Debug settings
DEBUG_MODE=false
DEBUG_LEVEL=error
ATOMIC_HIVE=false
ESCAPE=false

# Paths
UI=public/themes/
TEMP=storage/framework/cache/data/
LOGS=storage/logs/
FONTS=storage/framework/fonts/
FONTS_TEMP=storage/framework/cache/fonts/
MIGRATIONS=database/migrations/
LOCALES=engine/Atomic/Lang/locales/
USER_PLUGINS=public/plugins/

# Redis settings
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0 #optional

# Memcached settings
MEMCACHED_PORT=11211 #optional
MEMCACHED_HOST=127.0.0.1
MEMCACHED_USERNAME=null #optional
MEMCACHED_PASSWORD=null #optional
MEMCACHED_PREFIX=atomic_ #optional

# Rate limiting settings
RATE_LIMIT_REGISTER_IP=10
RATE_LIMIT_REGISTER_CREDENTIAL=3
RATE_LIMIT_REGISTER_IP_TTL=3600
RATE_LIMIT_REGISTER_CREDENTIAL_TTL=86400

RATE_LIMIT_LOGIN_IP=20
RATE_LIMIT_LOGIN_CREDENTIAL=5
RATE_LIMIT_LOGIN_IP_TTL=3600
RATE_LIMIT_LOGIN_CREDENTIAL_TTL=1800

# Mutex settings
MUTEX_DRIVER=redis

# Queue settings
QUEUE_DRIVER=redis
QUEUE_NAME=default

QUEUE_DATABASE_DEFAULT_WORKER_CNT=5
QUEUE_DATABASE_DEFAULT_BATCH_SIZE=1
QUEUE_DATABASE_DEFAULT_DELAY=0
QUEUE_DATABASE_DEFAULT_PRIORITY=10
QUEUE_DATABASE_DEFAULT_TIMEOUT=20
QUEUE_DATABASE_DEFAULT_MAX_ATTEMPTS=3
QUEUE_DATABASE_DEFAULT_RETRY_DELAY=5

QUEUE_REDIS_DEFAULT_TTL=604800
QUEUE_REDIS_DEFAULT_WORKER_CNT=5
QUEUE_REDIS_DEFAULT_BATCH_SIZE=1
QUEUE_REDIS_DEFAULT_DELAY=0
QUEUE_REDIS_DEFAULT_PRIORITY=10
QUEUE_REDIS_DEFAULT_TIMEOUT=20
QUEUE_REDIS_DEFAULT_MAX_ATTEMPTS=3
QUEUE_REDIS_DEFAULT_RETRY_DELAY=5

# AI settings
AI_OPENAI_API_KEY=
AI_GROQ_API_KEY=
AI_OPENROUTER_API_KEY=
AI_GLOBUS_API_KEY=
